Repository XaTanLac/xa-tanlac: changes, and which CircleCI parameters are due for each by the changed paths.
All: build_cms, build_zma, build_all

.circleci/config.yml:

version: 2.1

# define this file as the setup phase of your dynamic configuration
setup: true

orbs:
  path-filtering: circleci/path-filtering@1

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            dvc-tb-cms/.* build_cms true
            dvc-tb-zma/.* build_zma true
            ^(?!dvc-tb-cms/|dvc-tb-zma/).* build_all true
          config-path: .circleci/main.yml

update UI banner
  dvc-tb-cms/config/middlewares.ts
  dvc-tb-cms/config/plugins.ts
  dvc-tb-cms/package-lock.json
  dvc-tb-cms/package.json
Due: build_cms

update UI banner
  .circleci/main.yml
  dvc-tb-zma/src/assets/images/banner.jpg
  dvc-tb-zma/src/assets/images/logo.jpg
  dvc-tb-zma/src/layouts/default-layout.tsx
  dvc-tb-zma/src/pages/index.tsx
  package-lock.json
  yarn.lock
Due: build_zma, build_all

update docker compose
  .circleci/main.yml
  dvc-tb-cms/docker-compose-prod.yml
  dvc-tb-cms/docker-compose.yml
  dvc-tb-zma/src/constants/module-items.tsx
Due: build_cms, build_zma, build_all

update UI and theme
  dvc-tb-zma/app-config.json
  dvc-tb-zma/package.json
  dvc-tb-zma/src/assets/icons/book.png
  dvc-tb-zma/src/assets/icons/integration.png
  dvc-tb-zma/src/assets/icons/news.png
  dvc-tb-zma/src/assets/icons/newspaper.png
  dvc-tb-zma/src/components/IconButton.tsx
  dvc-tb-zma/src/components/custom-tabs/custom-tabs.scss
  dvc-tb-zma/src/components/icon-button.tsx
  dvc-tb-zma/src/components/icon-card.tsx
  dvc-tb-zma/src/components/moving-button.tsx
  dvc-tb-zma/src/constants/module-items.tsx
  dvc-tb-zma/src/css/app.scss
  dvc-tb-zma/src/layouts/home-header.tsx
  dvc-tb-zma/src/layouts/navigation-bar/navigation-bar.scss
  dvc-tb-zma/src/pages/article-posting/index.tsx
  dvc-tb-zma/src/pages/camera/index.tsx
  dvc-tb-zma/src/pages/google-map/google-map.tsx
  dvc-tb-zma/src/pages/hotline/index.tsx
  dvc-tb-zma/src/pages/index.tsx
  dvc-tb-zma/src/pages/industry-job/industry-infomation/detail.tsx
  dvc-tb-zma/src/pages/industry-job/industry-infomation/form.tsx
  dvc-tb-zma/src/pages/industry-job/industry-infomation/index.tsx
  dvc-tb-zma/src/pages/industry-job/job-service/detail.tsx
  dvc-tb-zma/src/pages/industry-job/job-service/form.tsx
  dvc-tb-zma/src/pages/industry-job/job-service/list.tsx
  dvc-tb-zma/src/pages/my-posting/index.tsx
  dvc-tb-zma/src/pages/phan-anh-kien-nghi/form.tsx
  dvc-tb-zma/src/pages/phan-anh-kien-nghi/index.tsx
  dvc-tb-zma/src/pages/phan-anh-kien-nghi/search.tsx
  dvc-tb-zma/src/pages/settings/index.tsx
Due: build_zma

update logic article
  dvc-tb-zma/src/components/article/article-detail.tsx
  dvc-tb-zma/src/components/article/article.tsx
  dvc-tb-zma/src/constants/module-items.tsx
  dvc-tb-zma/src/constants/zalo-oa.ts
  dvc-tb-zma/src/hooks/use-article.ts
  dvc-tb-zma/src/hooks/use-zalo-article.ts
  dvc-tb-zma/src/pages/article-news/detail.tsx
  dvc-tb-zma/src/pages/article-news/index.tsx
  dvc-tb-zma/src/pages/index.tsx
  dvc-tb-zma/src/pages/zalo-callback.tsx
  dvc-tb-zma/src/types/zalo-oa.ts
  dvc-tb-zma/src/utils/zalo-oa.ts
Due: build_zma
